body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  height: 100%;
  background-color: #ff4f0b !important;
}

.tab {
  font-size: 32px !important;
  color: rgb(190, 190, 190) !important;
}


.active-tab{
  color: #fee !important;
  font-weight: 500;
}

.active-tab::after{
  background-color: #fee !important;
}
